scripts/
docs/*
*.log
containers/*
.*docker*
node_modules*
*.DS_Store
services/*/index.js
services/*/shared*
services/*/translations.json
services/*/package.json
local.env
dev.env
prod.env
pp.env
stg.env